#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex: auto;
  flex-direction: column;
}

input {
  flex: auto;
}

label {
  flex: auto;
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.columns,
.rows {
  display: flex;
  flex: auto;
}
.columns {
  flex-direction: column;
}
.gap {
  gap: 1em;
}
.pad {
  padding: 1em;
}
.paper {
  background-color: black;
}
